<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiuchApp - Answear</title>
    <meta name="description" content="CiuchApp - Answear" />
    <meta name="keywords" content="CiuchApp, Answear, Lukasz Sadlocha" />
    <meta name="author" content="Codrops + Lukasz Sadlocha" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/demo.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/ciuchapp-icons.css" />
    <script src="js/modernizr.custom.js"></script>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
</head>
<body>
    <div class="container ciuchapp-container" id="ciuchapp-main-container">
        <ul id="gn-menu" class="gn-menu-main">
            <li class="gn-trigger">
                <a class="ciuchapp-menu-icon"><i class="fa ciuchapp-icon fa-bars"></i></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller">

                        @await Component.InvokeAsync("LeftNavigation")

                    </div><!-- /gn-scroller -->
                </nav>
            </li>
            @await Html.PartialAsync("_LoginPartial")
            <li>
                <a class="ciuchapp-answear-logo" href="https://answear.com">
                    <span><i class="fa fa-cart-plus ciuchapp-shop-icon"></i>Idz do sklepu</span>
                    <img src="~/images/logo.png" style="max-height: 28px; vertical-align: middle; margin-left: 10px; margin-bottom: 7px">
                </a>
            </li>

        </ul>
        <header class="ciuchapp-white">
            @RenderBody()
        </header>
        <div class="myclass">
            <img src="~/fonts/ecoicons/ecoicons.svg" />
        </div>
    </div><!-- /container -->
    <script src="~/js/classie.js"></script>
    <script src="~/js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('ciuchapp-main-container'));
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-tabledit/jquery.tabledit.js"></script>
    <script src="~/js/site.js"></script>

    @*<script src="~/js/site.js" asp-append-version="true"></script>  TODO: read why use asp=append-version! *@


    @*<environment include="Development">

        </environment>*@
    @*<environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/lib/jquery-tabledit/jquery.tabledit.min.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
