@using Microsoft.AspNetCore.Identity
@using CiuchApp.Dashboard.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Cześć @UserManager.GetUserName(User)!</a></li>

    <li>
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <input type="submit" value="Wyloguj" class="linkButton"/>
        </form>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa ciuchapp-icon fa-unlock-alt"></i>Zaloguj</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa ciuchapp-icon fa-user-circle"></i><span>Nowe konto</span></a></li>
}
