<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CiuchyAndroid.CiuchyAndroid" android:installLocation="auto" android:versionName="9" android:versionCode="9">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:theme="@style/CiuchAppTheme" android:allowBackup="true" android:label="@string/app_name" android:icon="@drawable/logo"></application>
</manifest>