@model RegisterViewModel

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="login100-form-register validate-form">
    <span class="login100-form-title p-b-34">Załóż nowe konto</span>
    <div class="container-login100-form-btn">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
        <input asp-for="Email" class="input100" type="text" placeholder="Użytkownik" />
        <span class="focus-input100"></span>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
        <input asp-for="Password" class="input100" type="password" placeholder="Hasło" />
        <span class="focus-input100"></span>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
        <input asp-for="ConfirmPassword" class="input100" type="password" placeholder="Potwierdz hasło" />
        <span class="focus-input100"></span>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">Zarejestruj</button>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}