
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>CiuchApp - Answear</h2>
        <ul>
            <li>Pokaż wyjady -<a asp-controller="BusinessTrips" asp-action="Index">Wyjazdy</a></li>
            <li>Pokaż Ciuchy -<a asp-controller="Pieces" asp-action="Index">Ciuchy</a></li>
        </ul>
    </div>
</div>
<div class="col-md-4"></div>
