<div class="ciuchapp-white">
    <h1>CiuchApp dla Answear<span>Wybierz co chcesz zobaczyc...</span></h1>
    <h2><span> lub odwiedź autora <a href="http://www.resume.lukaszsadlocha.pl">lukaszsadlocha</a></span></h2>


    <div class="row">
        <div class="col-lg-4">
            <h3>Business - TODO</h3>
            <ul>
                <li>
                    mapowanie 1 do 1 kolor name ; color id z pliku kolory.
                </li>
                <li>
                    wybieranie koloru po nazwie, na telefonie
                </li>
                <li>
                    <strike>top category, main category, grupa - zgadaja sie z pliku " slownik grupa asortymentowa"</strike>
                </li>
                <li>
                    Missing: supplier (dostawca) + Lista składu (Componnets) + Cuntry of Origin (kraj pochodzenia)
                </li>
                <li>
                    Kolory to jest jakas jazda:<br />
                    Plik kolor to tak naprawde polaczenie z kolumn (col1 (nazwa)-(kod) natomiast kolor opisowy ( u mnie nazwa koloru) to jest raczej taka opisowa, tez moze byc z tableki<br />
                    Do tego trzeba raczej szukajke na xamarinie (spinner with search)
                </li>
                <li>sa 4: WW, WZ, WS, WA</li>
                <li>Kraj wyjazdu - chiny, turcja</li>
                <li>miasta - Londyn + Manchester, Istambuł, Guangzou</li>
                <li>waluty: +dolar</li>
                <li>Krakje poch: indie </li>
                <li> Sety - moga byc dowolne</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Tech - TODO</h3>
            <ul>
                <li>
                    <strike>Basic secure</strike>
                </li>
                <li>
                    Secure Mobile - Api connection
                </li>
                <li>
                    Image Api - resize and save small
                </li>
            </ul>
        </div>

    </div>
    
</div>