<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add name="endpoint1" value="https://westcentralus.api.cognitive.microsoft.com/vision/v1.0"/>
  <add name="endpoint2" value="https://westcentralus.api.cognitive.microsoft.com/vision/v2.0"/>
  <add name="key1" value="a82821cfb451457980401927b1e15f28"/>
  <add name="key2" value="2c268c7e08ea45808b025dc9a6fd7b64"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
